        body {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0;
        }
     .table-container {
    width: 70%;
    /* max-width: 1200px; */
    margin: 0 auto;
}   
        .financial-table {
            width: 100%;
            border-collapse: collapse;
            background-color: #34495e;
            box-shadow: 0 2px 10px rgb(0 0 0 / 72%);
            border-radius: 8px;
            border: 2px solid #5e3448;
            overflow: hidden;
            font-size: 14px;
            margin: 50px 0 50px 0;

        }
        
        .financial-table th {
            background-color: #34495e;
            color: white;
            font-weight: 600;
            padding: 12px 12px;
            text-align: left;
            border-bottom: 2px solid #34495e;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 0.5px;
        }
        
        .financial-table td {
            padding: 4px 12px;
            border-bottom: 2px solid #34495e;
            transition: background-color 0.2s ease;
        }
       
              /* Стили для различных типов данных */
        .big_text {
            font-size: 15px;
            font-weight: 600;
        }
        .positive {
            color: #27ae60;
            font-weight: 800 ;
        }
        
        .negative {
            color: #e74c3c;
            font-weight: 700;
        }
        
         .subcategory {
            background-color: #ffffff;
            font-style: italic;
        }

.even_color {
    background-color: #ffffff; 
}
.oder_color {
    background-color: #f3e4f7; 
  }
.center_text {
    text-align: center;
}

        /* Адаптивность */
        @media (max-width: 768px) {
            .financial-table {
                font-size: 12px;
            }
            
            .financial-table th,
            .financial-table td {
                padding: 10px 8px;
            }
        }