.name_td_table {
    width: 100px;
}
.fl-table {
    width: 90%;
	margin: 0 auto;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    /* white-space: nowrap; */
    background-color: white;
	box-shadow: 0px 10px 10px rgba( 0, 0, 0, 0.4 );
}


.fl-table td, .fl-table th {
    text-align: center;
    padding: 5px;

}

.fl-table td {
    margin:0 auto;
    border: 1px solid #746c6c;
    font-size: 11px;
	

}

.fl-table th {
    position: sticky;
    top: 0;
    background-color: #fff; /* Чтобы заголовки были четко видны против контента */
    color: #ffffff;
    background: #55917f;
    margin:0 auto;
    border: 1px solid #746c6c;
}

.fl-table tr:nth-child(even) {
    background: #d8cece;
}

.real_money th {
    background: #dd9c39;
  
}

.name_row {
    width: 250px;
}
.red_color {
    color: red;
    font-weight: 700;
}
.green_color {
    color: rgb(50, 100, 40);
    font-weight: 900;
}
.small_font {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 500;
}
.big_font {
    margin: 0;
    padding: 0;
    font-weight: 900;

}