        body {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0;
        }
     .table-container {
    width: 70%;
    /* max-width: 1200px; */
    margin: 0 auto;
}   
.name_td_table {
    width: 100px;
}
.fl-table {
    width: 90%;
	margin: 0 auto;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    /* white-space: nowrap; */
    background-color: white;
	box-shadow: 0px 10px 10px rgba( 0, 0, 0, 0.4 );
}


.fl-table td, .fl-table th {
    text-align: center;
    padding: 5px;

}

.fl-table td {
    margin:0 auto;
    border: 1px solid #746c6c;
    font-size: 11px;
	

}

.fl-table th {
    position: sticky;
    top: 0;
    background-color: #fff; /* Чтобы заголовки были четко видны против контента */
    color: #ffffff;
    /* background: #00130d; */
    margin:0 auto;
    border: 1px solid #746c6c;
}

.fl-table tr:nth-child(even) {
    background: #d8cece;
}

.real_money th {
    background: #34495e;
  
}
.numbers_th {
    background: #305c5f;
    font-weight: 700;
}
.name_row {
    width: 250px;
}
.red_color {
    color: red;
    font-weight: 600;
}
.green_color {
    color: rgb(50, 100, 40);
    font-weight: 700;
}
.small_font {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 500;
}
.big_font {
    margin: 0;
    padding: 0;
    font-weight: 700;

}

.procent_v_scobkah {
    /* display: flex; */
    margin: 0;
    padding: 0;
    color:  black;
}
.sort_setup {
    margin: 1px;
    padding: 1px;
    font-size: 16px;
    color: rgb(199, 224, 169);
}