        .proverka-table {
            width: 100%;
            border-collapse: collapse;
            background-color: #ffffff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.72);
            border-radius: 8px;
            border: 2px solid #5e3448;
            overflow: hidden;
            font-size: 14px;
            margin: 50px 0 50px 0;

        }
        
        .proverka-table th {
            background-color: #ae6bbb;
            color: white;
            font-weight: 600;
            padding: 12px 12px;
            text-align: center;
            border-bottom: 2px solid #34495e;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 0.5px;
        }
        
        .proverka-table td {
            padding: 4px 12px;
            border-bottom: 2px solid #34495e;
            transition: background-color 0.2s ease;
        }
       
              /* Стили для различных типов данных */
        .big_text {
            font-size: 15px;
            font-weight: 600;
        }
        .positive {
            color: #27ae60;
            font-weight: 800 ;
        }
        
        .negative {
            color: #e74c3c;
            font-weight: 700;
        }
        
         .subcategory {
            background-color: #ffffff;
            font-style: italic;
        }

.even_color {
    background-color: #ffffff; 
}
.oder_color {
    background-color: #f3e4f7; 
  }

        /* Адаптивность */
        @media (max-width: 768px) {
            .proverka-table {
                font-size: 12px;
            }
            
            .proverka-table th,
            .proverka-table td {
                padding: 10px 8px;
            }
        }