.sum-table {
    width: 100%;
    max-width: 1020px;
    background: white;

	margin: 30px auto;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: normal;

    /* white-space: nowrap; */

    /* border: none; */
    border: #037a0d 2px solid;
       
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
            padding: 10px;


}

.sum-table td, .sum-table th {
    text-align: center;
    padding: 1px;

}

.sum-table td {
    margin:0 auto;
    border: 1px solid #746c6c;
    font-size: 14px;;
	font-weight: 500;

}

.sum-table th {
    position: sticky;
    top: 0;
    background-color: #fff; /* Чтобы заголовки были четко видны против контента */
    color: #ffffff;
    background: #037a0d;
    margin:0 auto;
    border: 1px solid #746c6c;
}




.sum-table tr:nth-child(even) {
    background: #d8cece;
}

.statia_rashodov {
  width: 300px; /* Фиксированная ширина */
  max-width: 300px; /* Максимальная ширина */
  word-wrap: break-word; /* Перенос длинных слов */
  word-break: break-word; /* Перенос слов */
  white-space: normal; /* Разрешить перенос строк */
  overflow-wrap: break-word; /* Современная альтернатива word-wrap */
}

/* Для ALARM таблица  */
.alarm_table th{
    background: #be6805 !important;
}
.alarm_table {
    border: #be6805 2px solid;
    }
